{% extends "layout.html" %}
{% block title %}Exam list{% endblock %}
{% block content %}
    <h1 class="title">Exams</h1>

    {% if exams %}
    <form action="" method="post" name="exam_list">
      <table class="table is-striped is-fullwidth">
        {% for exam_key, exam in exams %}
        <tr>
          <td>
            {% if current_user.is_admin %}
            <label class="checkbox">
              <input type="checkbox" name="exam_keys" value="{{ exam_key }}"/>
            </label>
            {% endif %}
            <a href="{{ url_for('exam_page', exam_key=exam_key) }}">
              {{ exam.examname }}-{{ exam.question }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>

      {% if current_user.is_admin %}
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
      {% endif %}
    </form>
    {% endif %}
{% endblock %}